h1 {
    font-family: 'Helvetica';
    color: white;
    background-color: #333;
}

p {
   font-size: 14pt;
   font-family: 'Helvetica Nue', Verdana, Arial, sans-serif;
}

.red {
    color: red;    
}